body {
    font: arial;
    color: #ffff;
    background-color: #121c2b;
    align-items: center;
}

.link-btn {
    color: #ffff;
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: rgb(24,34,50);
}

.buttons {
    display: inline-block;
    margin: 200px 600px;

}

.text {
    display: flex;
    margin-top: 300px;
}